
.ps_agqstn_content {
padding: 0.5em 1em;
-moz-box-flex: 1;
box-sizing: border-box;
flex: 1 1 auto;
min-height: 0;
overflow: auto;
width: 100%;
} 


.ps_agqstn_content .ct_question_row {
border: 1px solid #bcc4cd; 
border-radius: 5px;
background-color:#f8f8f8; 
margin-bottom:0.5em;
width:100%;
border-color: var(--pt-border-normal-color);
background-color: var(--pt-panel-background-color);
}

.ptaidependentlist {
	text-align: left;  
	margin-left: 20px; 
}


.ct_question_row_sff {
-moz-box-flex: 1;
box-sizing: border-box;
flex: 1 1 auto;
min-height: 0;
min-width: 0;
overflow: auto;
width: 100%;
border: 1px solid #bcc4cd; 
border-radius: 5px;
background-color:#f8f8f8; 
margin-bottom:0.5em;
width:100%;
border-color: var(--pt-border-normal-color);
background-color: var(--pt-panel-background-color);
}
